<footer fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout  fxLayoutAlign="center center" >
      <!-- <button mat-icon-button>
        <mat-icon fontSet="fab" fontIcon="fa-facebook">
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontSet="fab" fontIcon="fa-instagram">
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontSet="fab" fontIcon="fa-twitter">
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontSet="fab" fontIcon="fa-youtube">
        </mat-icon>
      </button> -->
      <div>

      </div>
      </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <!-- <span>© 2022 Fernando Murguia. All Rights Reserved.</span> -->
      <!-- <span><a class="terms" href="">Privacy Policy</a> | <a class="terms" href="">Disclaimer</a></span> -->
      <span class="el">

      </span>
    </div>
    <!-- <div class="col-auto">
              <span class="border border-info float-left p-1 bg-info text-white
                  idiomaEs">ES</span>
              <span class="border border-info float-left p-1 bg-white text-dark
                  idiomaEn">EN</span>
          </div> -->
  </footer>