<mat-card class="box" fxLayoutAlign="center center" fxLayout="column">
  <mat-card-header>

    <mat-card-title mat-dialog-title>{{data.title}}</mat-card-title>
  </mat-card-header>
  <form mat-dialog-content [formGroup]="myForm" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <table class="table table-bordered" formArrayName="array">
        <tr *ngFor="let quantity of getArray().controls; let i=index" [formGroupName]="i">
          <td>
            <input matInput type="time" id="appt" name="appt" min="00:00" max="24:00"  autocomplete="true" name="attentionHour"
              [(ngModel)]="values[i]" formControlName="attentionHour">
          </td>
          <td>
            <button mat-button class="btn" (click)="removeQuantity(i)">Remove</button>
          </td>
        </tr>
      </table>
      <div>
        <!-- <th colspan="2">Add Multiple Quantity:</th> -->
        <button mat-button class="btn" (click)="addElement()" class="btn btn-primary">Add</button>
      </div>
      <div mat-dialog-actions>
        <button class="btn-save" mat-button (click)="save()" [disabled]="myForm.invalid">Guardar
        </button>
        <button class="btn" mat-button [mat-dialog-close]="{ 'confirm': false}">Cancelar
        </button>
      </div>
    </mat-card-content>


    <!-- <button type="submit" class="btn btn-success">Submit</button> -->

  </form>

  <br />
  {{this.myForm.value | json}}
</mat-card>