<div class="box" fxLayoutAlign="start center" fxLayout="column">
    <div>
        <mat-card-title mat-dialog-title>Add Patient</mat-card-title>
    </div>
    <form mat-dialog-content [formGroup]="myForm" fxLayout="column" fxLayoutAlign="center center">
        <mat-tab-group animationDuration="0ms" fxLayout="column" fxLayoutAlign="center center">
            <mat-tab label="Personal Information">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <!-- <mat-form-field appearance="fill" *ngIf="data.update">
                <mat-label>Id:</mat-label>
                <input matInput [disabled]="true"
                    [value]="selectedPatient.id" name="id">
            </mat-form-field> -->

                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.firstName" name="firstName"
                            formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.lastName" name="lastName"
                            formControlName="lastName">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.address" name="address" formControlName="address">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Family Contact</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.familyContact" name="familyContact"
                            formControlName="familyContact">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Healthcare System</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.healthcareSystem" name="healthcareSystem"
                            formControlName="healthcareSystem">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Halthcare System Id</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.healthcareSystemId" name="healthcareSystemId"
                            formControlName="healthcareSystemId">
                    </mat-form-field>
                    <!-- <mat-form-field appearance="fill">
                <mat-label>Control Hour:</mat-label>

                <input matInput type="time" id="appt" name="appt" min="00:00" max="24:00" name="hours"
                    formControlName="hours">

            </mat-form-field> -->
                    <!-- <mat-form-field appearance="fill">
            <mat-label>Control Hour:</mat-label>

            <input matInput type="time" id="appt" name="appt" min="00:00" max="24:00" name="hours"  formControlName="hours">

        </mat-form-field> -->
                    <!-- <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select [(ngModel)]="category.id" name="category" formControlName="categorySelected"
                    id="category">
                    <mat-option  *ngFor="let opc of categories" [value]="opc.id">{{opc.name
                        | titlecase}}</mat-option>
                </mat-select>
            </mat-form-field> -->
                    <!--   <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <textarea matInput [(ngModel)]="selectedPatient.description" formControlName="description"
                    name="description"></textarea>
            </mat-form-field> -->

                </div>
            </mat-tab>

            <mat-tab label="Hospital Information">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field appearance="fill">
                        <mat-label>Room</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.hospitalRoom" name="hospitalRoom"
                            formControlName="hospitalRoom">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Bed</mat-label>
                        <input matInput [(ngModel)]="selectedPatient.hospitalBed" name="hospitalBed"
                            formControlName="hospitalBed">
                    </mat-form-field>
                    <div mat-dialog-actions fxLayout="column">
                        <mat-label>Attetion Hours</mat-label>
                        <button mat-button class="btn" (click)="addHours(selectedPatient.attentionHours)">Add</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button class="btn-save" mat-button [mat-dialog-close]="{ 'product': selectedPatient, 'confirm':
                true}" (click)="onClick()" [disabled]="myForm.invalid">Guardar
            </button>
            <button class="btn" mat-button [mat-dialog-close]="{ 'confirm': false}" (click)="onNoClick()">Cancelar
            </button>
        </div>

    </form>
</div>