.mat-dialog-content {
  white-space: pre;
}

.box {
  min-width: 17rem;
  background-color: #424242;
  color: white;
  height: 120vh;

  .container {
    height: 125vh;
    overflow: inherit;
  }
}

.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled
{
  color: rgb(104, 89, 89) !important;
}

input,
mat-label,
mat-select,
textarea,
mat-input {
  color: rgb(177, 144, 144);
}

input:disabled {
  color: rgb(177, 144, 144);
}

::ng-deep .mat-select-value {
  color: rgb(177, 144, 144);
}

.dark-button {
  background-color: #222;
  color: #fff
}

mat-label,
textarea,
input {
  font-size: 1rem;
}

.btn {
  background-color: #222 !important;
  color: white;

}


.btn-save:disabled {
  color: white;
  background-color: rgb(77, 54, 54) !important;
  transform: none !important;
}

.btn-save:hover:enabled {
  transform: scale(1.02);
}

.dialog {
  background-color: #424242;
}

.actions {
  margin-top: 3vw;
}

.action-hours {
  margin-top: 2vw;
}

.tab2 {
  height: 100vw;
}