<mat-nav-list class="sidenav"> 
    <a mat-list-item [routerLink]="['home']" routerLinkActive="active-link" (click)="onSidenavClose()">
        <mat-icon fxLayoutAlign="center center">supervisor_account</mat-icon><span class="nav-caption"> Patients</span>
    </a>
    <a mat-list-item [routerLink]="['care-schedule']" routerLinkActive="active-link" (click)="onSidenavClose()">
        <mat-icon fxLayoutAlign="center center" >watch_later</mat-icon><span class="nav-caption"> Care Schedule</span>
    </a>
    <a  mat-list-item [routerLink]="['vital-sign']" routerLinkActive="active-link" (click)="onSidenavClose()">
        <mat-icon fxLayoutAlign="center center">event_note</mat-icon><span class="nav-caption">Vital Sign</span>   
    </a>

    <a class="logout" mat-list-item  routerLinkActive="active-link" (click)="logout()">
        <mat-icon fxLayoutAlign="center center" fontSet="fa" fontIcon="fa-sign-out"></mat-icon><span class="nav-caption">Log out</span>   
    </a>
</mat-nav-list>