

$font-principal: 'Open Sans', sans-serif;
$background-principal: linear-gradient(to bottom, rgb(48, 33, 33), rgb(54, 76, 109));
$background-secondary: linear-gradient(to bottom, rgb(163, 189, 206), rgb(54, 76, 109));
$background-sidebar:#29455f;
// $background-sidebar:#4b576d;

$background-header-row1: rgb(102, 129, 131);
$background-header-row2: #222;
$button-logout: rgb(57, 58, 59);
$background-title-section: rgb(57, 58, 59);
$size-title-section:0.9rem;
$font-size-title-section:1rem;
