

$font-principal: 'Open Sans', sans-serif;
$background-sidebar:#3DB4E5;
// $background-sidebar:#4b576d;

$background-header-row1: rgb(149, 255, 255);
$background-header-row2: #222;
$button-logout: rgb(57, 58, 59);
$background-title-section: rgb(17, 52, 87);
$size-title-section:0.9rem;
$font-size-title-section:1rem;
